name: Exe tests

on:
  schedule:
  - cron: "0 */18 * * *"
  workflow_dispatch:

jobs:
  atom-bundled-tests:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-java-example'
          path: 'repotests/shiftleft-java-example'
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-ts-example'
          path: 'repotests/shiftleft-ts-example'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/DjanGoat'
          path: 'repotests/DjanGoat'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install cpggen
      - name: bundle_tests
        run: |
          mkdir /tmp/all_cpgs /tmp/all_exports
          cpggen -i repotests/shiftleft-java-example -o /tmp/all_cpgs/shiftleft-java-example --export --export-out-dir /tmp/all_exports/shiftleft-java-example
          if [ -e "/tmp/all_cpgs/shiftleft-java-example/shiftleft-java-example-java-cpg.bin" ]; then
            echo "Java direct test was successful"
          else
            echo "Java direct test was not successful"
          fi
          cpggen -i repotests/shiftleft-ts-example -o /tmp/all_cpgs/shiftleft-ts-example
          if [ -e "/tmp/all_cpgs/shiftleft-ts-example/shiftleft-ts-example-js-cpg.bin" ]; then
            echo "JS direct test was successful"
          else
            echo "JS direct test was not successful"
          fi
          cpggen -i repotests/DjanGoat -o /tmp/all_cpgs/DjanGoat
  linux-exe-tests:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-java-example'
          path: 'repotests/shiftleft-java-example'
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-ts-example'
          path: 'repotests/shiftleft-ts-example'
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-go-example'
          path: 'repotests/shiftleft-go-example'
      - uses: actions/checkout@v3
        with:
          repository: 'prabhu/shiftleft-scala-example'
          path: 'repotests/shiftleft-scala-example'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/vulnerable_net_core'
          path: 'repotests/vulnerable_net_core'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/Goatly.NET'
          path: 'repotests/Goatly.NET'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/DjanGoat'
          path: 'repotests/DjanGoat'
      - uses: actions/checkout@v3
        with:
          repository: 'GoogleCloudPlatform/microservices-demo'
          path: 'repotests/microservices-demo'
      - uses: actions/checkout@v3
        with:
          repository: 'juice-shop/juicy-malware'
          path: 'repotests/juicy-malware'
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: exetests
        run: |
          mkdir /tmp/all_cpgs /tmp/all_exports
          oras pull ghcr.io/appthreat/cpggen-bin:v1
          chmod +x cpggen-linux-amd64
          ./cpggen-linux-amd64 --help
          oras pull ghcr.io/appthreat/cpggen-oss-bin:v1
          chmod +x cpggen-oss-linux-amd64
          ./cpggen-oss-linux-amd64 --help
          ./cpggen-linux-amd64 -i repotests/shiftleft-java-example -o /tmp/all_cpgs/shiftleft-java-example --export --export-out-dir /tmp/all_exports/shiftleft-java-example
          if [ -e "/tmp/all_cpgs/shiftleft-java-example/shiftleft-java-example-java-cpg.bin" ]; then
            echo "Java direct test was successful"
          else
            echo "Java direct test was not successful"
          fi
          ./cpggen-oss-linux-amd64 -i repotests/shiftleft-java-example -o /tmp/all_cpgs/shiftleft-java-example --export --export-out-dir /tmp/all_exports/shiftleft-java-example
          if [ -e "/tmp/all_cpgs/shiftleft-java-example/shiftleft-java-example-java-cpg.bin" ]; then
            echo "Java direct test was successful"
          else
            echo "Java direct test was not successful"
          fi
          ./cpggen-linux-amd64 -i repotests/shiftleft-ts-example -o /tmp/all_cpgs/shiftleft-ts-example
          if [ -e "/tmp/all_cpgs/shiftleft-ts-example/shiftleft-ts-example-js-cpg.bin" ]; then
            echo "JS direct test was successful"
          else
            echo "JS direct test was not successful"
          fi
          ./cpggen-oss-linux-amd64 -i repotests/shiftleft-ts-example -o /tmp/all_cpgs/shiftleft-ts-example
          if [ -e "/tmp/all_cpgs/shiftleft-ts-example/shiftleft-ts-example-js-cpg.bin" ]; then
            echo "JS direct test was successful"
          else
            echo "JS direct test was not successful"
          fi
          ./cpggen-linux-amd64 -i repotests/shiftleft-go-example -o /tmp/all_cpgs/shiftleft-go-example --build
          if [ -e "/tmp/all_cpgs/shiftleft-go-example/shiftleft-go-example-go-cpg.bin" ]; then
            echo "go direct test was successful"
          else
            echo "go direct test was not successful"
          fi
          ./cpggen-linux-amd64 -i repotests/shiftleft-go-example -o /tmp/all_cpgs/shiftleft-go-example --build
          ./cpggen-linux-amd64 -i repotests/vulnerable_net_core -o /tmp/all_cpgs/vulnerable_net_core --build
          ./cpggen-linux-amd64 -i repotests/Goatly.NET -o /tmp/all_cpgs/Goatly.NET --build
          ./cpggen-linux-amd64 -i repotests/DjanGoat -o /tmp/all_cpgs/DjanGoat
          ./cpggen-oss-linux-amd64 -i repotests/DjanGoat -o /tmp/all_cpgs/DjanGoat
          ./cpggen-linux-amd64 -i repotests/microservices-demo -o /tmp/all_cpgs/microservices-demo --build
          ./cpggen-linux-amd64 -i repotests/juicy-malware/juicy_malware_linux_amd_64 -o /tmp/all_cpgs/juicy-malware
          ls -ltr /tmp/all_cpgs
          ls -ltr /tmp/all_exports
        env:
          AT_DEBUG_MODE: debug

  windows-exe-tests:
    runs-on: windows-latest
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-java-example'
          path: 'repotests/shiftleft-java-example'
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-ts-example'
          path: 'repotests/shiftleft-ts-example'
      - uses: actions/checkout@v3
        with:
          repository: 'ShiftLeftSecurity/shiftleft-go-example'
          path: 'repotests/shiftleft-go-example'
      - uses: actions/checkout@v3
        with:
          repository: 'prabhu/shiftleft-scala-example'
          path: 'repotests/shiftleft-scala-example'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/vulnerable_net_core'
          path: 'repotests/vulnerable_net_core'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/Goatly.NET'
          path: 'repotests/Goatly.NET'
      - uses: actions/checkout@v3
        with:
          repository: 'HooliCorp/DjanGoat'
          path: 'repotests/DjanGoat'
      - uses: actions/checkout@v3
        with:
          repository: 'GoogleCloudPlatform/microservices-demo'
          path: 'repotests/microservices-demo'
      - uses: actions/checkout@v3
        with:
          repository: 'juice-shop/juicy-malware'
          path: 'repotests/juicy-malware'
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: exetests
        run: |
          Invoke-WebRequest -Uri https://github.com/oras-project/oras/releases/download/v1.0.0/oras_1.0.0_windows_amd64.zip -UseBasicParsing -OutFile oras_1.0.0_windows_amd64.zip
          Expand-Archive -Path oras_1.0.0_windows_amd64.zip -DestinationPath .
          .\oras.exe pull ghcr.io/appthreat/cpggen-windows-bin:v1
          .\cpggen.exe --help
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\shiftleft-java-example --export
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\shiftleft-ts-example
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\shiftleft-go-example --build
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\vulnerable_net_core --build
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\Goatly.NET --build
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\DjanGoat
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\microservices-demo --build
          .\cpggen.exe -i $env:GITHUB_WORKSPACE\\repotests\\juicy-malware\\juicy_malware_windows_64.exe
        env:
          AT_DEBUG_MODE: debug
          PYTHONIOENCODING: utf-8
          PYTHONUTF8: 1
