name: release 2
on:
  push:
    branches:
    - main
    - feature/*
    tags:
    - 'v*'
  workflow_dispatch:    # allow to manually trigger this workflow
jobs:
  release:
    if: github.repository_owner == 'appthreat'
    concurrency: release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'Joernio/joern'
          ref: 'michael/scala3-cont-2'
      - uses: coursier/cache-action@v6
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '19'
      - run: sudo apt update && sudo apt install -y gnupg
      - run: |
          sbt stage createDistribution
      - run: sha512sum target/joern-cli.zip > target/joern-cli.zip.sha512
      - name: Export ENV vars
        run:
          echo "LATEST_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
      - run: sbt "querydb/runMain io.joern.dumpq.Main"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.LATEST_TAG }}
          release_name: ${{ env.LATEST_TAG }}
          draft: false
          prerelease: false
      - name: Upload joern-install.sh
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./joern-install.sh
          asset_name: joern-install.sh
          asset_content_type: text/plain
      - name: Upload joern-cli.zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: target/joern-cli.zip
          asset_name: joern-cli.zip
          asset_content_type: application/zip
      - name: Upload joern-cli.zip.sha512
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: target/joern-cli.zip.sha512
          asset_name: joern-cli.zip.sha512
          asset_content_type: text/plain
      - name: Upload querydb.zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: querydb/target/querydb.zip
          asset_name: querydb.zip
          asset_content_type: application/zip
      - name: Upload querydb.json
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/querydb.json
          asset_name: querydb.json
          asset_content_type: application/json
