name: Build Windows Binaries

on:
  push:
    branches:
    - main
    tags:
    - 'v*'
  workflow_dispatch:

jobs:
  cpggen-Windows-Build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/checkout@v3
      with:
        repository: 'ShiftLeftSecurity/shiftleft-java-example'
        path: 'repotests/shiftleft-java-example'
    - uses: actions/checkout@v3
      with:
        repository: 'ShiftLeftSecurity/shiftleft-ts-example'
        path: 'repotests/shiftleft-ts-example'
    - uses: actions/checkout@v3
      with:
        repository: 'ShiftLeftSecurity/shiftleft-go-example'
        path: 'repotests/shiftleft-go-example'
    - uses: actions/checkout@v3
      with:
        repository: 'prabhu/shiftleft-scala-example'
        path: 'repotests/shiftleft-scala-example'
    - uses: actions/checkout@v3
      with:
        repository: 'HooliCorp/vulnerable_net_core'
        path: 'repotests/vulnerable_net_core'
    - uses: actions/checkout@v3
      with:
        repository: 'HooliCorp/Goatly.NET'
        path: 'repotests/Goatly.NET'
    - uses: actions/checkout@v3
      with:
        repository: 'HooliCorp/DjanGoat'
        path: 'repotests/DjanGoat'
    - uses: actions/checkout@v3
      with:
        repository: 'prabhu/Vulnerable-Web-Application'
        path: 'repotests/Vulnerable-Web-Application'
    - uses: actions/checkout@v3
      with:
        repository: 'GoogleCloudPlatform/microservices-demo'
        path: 'repotests/microservices-demo'
    - uses: actions/checkout@v3
      with:
        repository: 'juice-shop/juicy-malware'
        path: 'repotests/juicy-malware'
    - name: Checkout cpggen
      uses: actions/checkout@v3
      with:
        repository: AppThreat/cpggen
        path: cpggen
    - name: Checkout cdxgen
      uses: actions/checkout@v3
      with:
        repository: CycloneDX/cdxgen
        path: cdxgen
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
    - name: Install pyinstaller
      run: |
        python -m pip install setuptools pyinstaller tzdata poetry
        cd cpggen
        poetry config virtualenvs.create false
        poetry install --no-cache --without dev
    - name: Produce cdxgen pkg
      run: |
        npm install -g pkg
        cd cdxgen
        npm install
        pkg -t node18-win --public package.json --out-path dist
        .\dist\cdxgen.exe --version
    - name: Binary windows build
      run: |
        cd cpggen
        $csharp2cpg_bin = (Invoke-RestMethod -Uri 'https://cdn.shiftleft.io/download/csharp2cpg-net-win-x64.json' | Select downloadURL)
        $go2cpg_bin = (Invoke-RestMethod -Uri 'https://www.shiftleft.io/download/go2cpgmanifest-windows-x64.json' | Select downloadURL)
        $java2cpg_bin = (Invoke-RestMethod -Uri 'https://www.shiftleft.io/download/java2cpg.json' | Select downloadURL)
        Invoke-WebRequest -Uri 'https://github.com/joernio/joern/releases/download/v1.1.1605/joern-cli.zip' -OutFile joern-cli.zip
        Invoke-WebRequest -Uri $csharp2cpg_bin.downloadURL -OutFile csharp2cpg.zip
        Invoke-WebRequest -Uri $go2cpg_bin.downloadURL -OutFile go2cpg
        Invoke-WebRequest -Uri $java2cpg_bin.downloadURL -OutFile java2cpg.jar
        pyinstaller cpggen/cli.py --noconfirm --log-level=WARN --nowindow --onefile --name cpggen --add-binary="java2cpg.jar;local_bin" --add-binary="csharp2cpg.zip;local_bin\joern-cli" --add-binary="go2cpg;local_bin\joern-cli" --add-binary="joern-cli.zip;local_bin" --add-binary="../cdxgen/dist/cdxgen.exe;local_bin" --collect-submodules cpggen --disable-windowed-traceback -i ../bin-build/cpggen.ico --version-file=../bin-build/file_version_info.txt --noupx
        (Get-FileHash .\dist\cpggen.exe).hash | Out-File -FilePath .\dist\cpggen.exe.sha256
        .\dist\cpggen.exe --help
        .\dist\cpggen.exe -i repotests\\shiftleft-java-example --export
        .\dist\cpggen.exe -i repotests\\shiftleft-ts-example
        .\dist\cpggen.exe -i repotests\\shiftleft-go-example --build
        .\dist\cpggen.exe -i repotests\\vulnerable_net_core --build
        .\dist\cpggen.exe -i repotests\\Goatly.NET --build
        .\dist\cpggen.exe -i repotests\\DjanGoat
        .\dist\cpggen.exe -i repotests\\Vulnerable-Web-Application
        .\dist\cpggen.exe -i repotests\\microservices-demo --build
        .\dist\cpggen.exe -i repotests\\juicy-malware\\juicy_malware_windows_64.exe
      env:
        PYTHONIOENCODING: utf-8
        LANG: en_US.utf-8
        PYTHONUTF8: 1
        CPGGEN_CONTAINER_MEMORY: 7g
        CPGGEN_MEMORY: 7G
        AUTO_BUILD: true
        AT_DEBUG_MODE: debug
    - name: Upload cpggen
      run: |
        cd cpggen\dist
        Invoke-WebRequest -Uri https://github.com/oras-project/oras/releases/download/v1.0.0/oras_1.0.0_windows_amd64.zip -UseBasicParsing -OutFile oras_1.0.0_windows_amd64.zip
        Expand-Archive -Path oras_1.0.0_windows_amd64.zip -DestinationPath .
        .\oras.exe login ghcr.io -u $Env:GITHUB_USERNAME -p $Env:GITHUB_TOKEN
        .\oras.exe push ghcr.io/appthreat/cpggen-windows-bin:v1 --config ../bin-build/config.json:application/vnd.oras.config.v1+json --annotation-file ../bin-build/annotations.json ./cpggen.exe:application/vnd.appthreat.cpggen.layer.v1+tar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_USERNAME: ${{ github.actor }}

    - uses: actions/upload-artifact@v1
      if: startsWith(github.ref, 'refs/tags/') != true
      with:
        path: cpggen/dist
        name: cpggen-windows
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          cpggen/dist/cpggen.exe
          cpggen/dist/cpggen.exe.sha256
